DJANGO_SECRET_KEY=replace-with-a-secure-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
FRONTEND_URL=http://localhost:5173

DB_NAME=tracenet_db
DB_USER=tracenet_user
DB_PASSWORD=replace-with-database-password
DB_HOST=localhost
DB_PORT=3306